@media(max-width:1024px){

}
@media(max-width:991px){

    /*custom classes*/
    .text-content{
        width: 100%;
    }

    .navigation-wrap .navbar-brand img{
        height: 3.8125rem;
    }
    .navigation-wrap{
        text-align: center;
        background-color: transparent;
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }

    /*banner design*/
    .top-banner{
        padding: 9.375rem 0 9.375rem;
    }

       /*character design*/
   .charac{
    align-items: center;
   }


}
@media(max-width:767px){


    /*custom css*/
   h1{
    font-size: 2.8rem;
   }
   h2{
    font-size: 2rem;
    line-height: 2.0625rem;
   }

   /*top banner design*/
   .top-banner{
    padding: 10.875rem 0 9.375rem;
   }
   .character-banner .container {
    padding: 0;
}

  #characters .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 0;
    }
    #characters .row img {
        margin-top: -150px;
        width: 285px;
        height: 86px;
        margin-bottom: 10rem;
    }
}
